<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/pjfernandes/icare"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    iCare
  </div>
</div>
