<div class='border-bottom'>
                                    <p class='text-center text-dark'><strong><i class='fas fa-info-circle text-secondary'></i> <a href='<%= caregiver_path(caregiver) %>'><%= caregiver.care_type.capitalize%></a></strong></p>
                                </div>
                                <div class='text-left text-dark'>
                                  <p><i class='fas fa-user text-secondary'></i> <%= caregiver.first_name.capitalize + caregiver.last_name.capitalize%></p>

                                </div>
