<div class="text-center">
  <%= image_tag 'logo.jpg', class: 'rounded-circle primary-logo w-25' %>


  <h1 class="title mt-2"><span class="text-primary">i</span>Care</h1>
  <div>
      <div class="text-secondary">
        Escolha seu perfil
      </div>

      <div class="home-buttons">
        <%= link_to "Cliente", caregivers_path, class: "btn btn-primary btn-lg m-2"%>
        <%= link_to "Cuidador", "#", class: "btn btn-success btn-lg m-2"%>
      </div>

  </div>
</div>
